<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:填写映射当前的Mapper接口，所有的增删改查的参数和返回值类型，
		就可以直接填写缩写，不区分大小写，直接通过方法名去找类型-->

<mapper namespace="com.example.kaoqin.dao.StatisticDao">
    <!-- sql:里面可以写入一个共同的sql代码，用于提取重复的代码。

        要使用该代码的时候就直接使用<include>标签
        id:为提取的sql代码，取一个id，起标识作用
         -->

    <resultMap type="com.example.kaoqin.model.Statistic" id="StatisticRecord" >
        <id property="number" column="number" />
        <result property="machine_number" column="machine_number" />
        <result property="worker_number" column="worker_number" />
        <result property="shijian" column="shijian" />
        <result property="cishu" column="cishu" />
    </resultMap>
<select id="findrecord" parameterType="integer" resultType="com.example.kaoqin.model.Statistic">
    select * from statistic
    where worker_number=#{worker_number}
</select>

</mapper>
